.Container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  transition-timing-function: ease-in-out;
  transition-property: scale, opacity;

  @media (max-width: 1300px) {
    max-width: 976px;
  }

  @media (max-width: 976px) {
    max-width: 654px;
  }
}

.InBackground {
  scale: 0.95;
  opacity: 0.3;
}
