.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 0 5px;
  margin: 1px;
}

.Yeap {
  background-color: var(--primaryColorFaded);
}

.Nope {
  background-color: var(--secondaryColorFaded);
  color: var(--secondaryColor);
}
