.Wrapper {
  --outer-radius: 5px;
  --frame-width: 2px;

  position: relative;
  padding: var(--frame-width);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms box-shadow;
  border-radius: var(--outer-radius);

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 var(--frame-width) var(--primaryColorFaded);
  }

  &.Active {
    box-shadow: none;
  }
}

.Frame {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border: var(--frame-width) solid var(--primaryColor);
  border-radius: var(--outer-radius);
}

.Bg {
  border-radius: 3px;
  background-origin: content-box;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  position: relative;
  flex: 1;
  background-clip: padding-box;
  width: 30px;
  height: 20px;
}
