.Header {
  opacity: 0;
  text-align: left;
  margin-bottom: 70px;
  font-size: 3.5rem;
  color: var(--fontColor);
  animation: appear ease-in-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 10px;
  }

  to {
    opacity: 1;
    translate: 0 0px;
  }
}
