.HeaderWrapper {
  text-align: left;
  margin-bottom: 50px;
  margin-top: 80px;
}

.Header {
  line-height: 1em;
  font-size: 3.5rem;
  color: var(--bgColor);
  paint-order: stroke fill;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: hsl(from var(--primaryColor) h s l);
  margin-bottom: 10px;
}

.Visible {
  opacity: 0;
  animation: appear ease-in-out forwards;
}

.Hidden {
  visibility: hidden;
}

.SubHeader {
  font-size: 1rem;
  color: var(--textColor);
  font-weight: 400;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 20px;
  }

  to {
    opacity: 1;
    translate: 0 0px;
  }
}

.Link {
  text-underline-offset: 2px;
  text-decoration-thickness: 0.5px;
}
