.OptionButton {
  padding: 3px 6px;
  background-color: var(--bgPrimaryColor);
  border-radius: 5px;
  transition: 200ms all;

  &:hover {
    background-color: var(--primaryColorFaded);
  }

  &.Active {
    background-color: var(--secondaryColorFaded);
    color: var(--secondaryColor);
  }

  &.Mini {
    padding: 0px 5px;
    font-size: 0.85rem;
  }
}
