.Controls {
  margin-top: 30px;
}

.ItemsWrapper {
  position: relative;
  top: -3px;
  padding-right: 6px;
}

.ChoiceButton {
  padding: 0 5px;
  border-radius: 3px;
  background-color: var(--primaryColorFaded);
}

.ControlItemsLayout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
