.Controls {
  margin-top: 30px;
  
}

.ChoiceButton {
  padding: 0 5px;
  border-radius: 3px;
  background-color: var(--primaryColorFaded);
}

.ControlItemsLayout {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
