.PlaybackControls {
  color: var(--fontColor) !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 30px;
  background: var(--backdrop);
  margin: 20px;
  border-radius: var(--borderRadius);
}

.Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}

.SpeedSection {
  width: 85px;
}

.TextButton,
.IconButton {
  --size: 40px;
  background-color: var(--controlButtonBgColor);
  border-radius: 5px;
  transition: 200ms all;
  font-size: 0.9rem;

  &:hover {
    background-color: var(--controlButtonHoverBgColor);
  }

  &:active {
    background-color: var(--controlButtonActiveBgColor);
  }
}

.IconButton {
  width: var(--size);
  height: var(--size);
}

.PlaybackSpeedLabel {
  font-size: 0.8rem;
}

.PlaybackSpeedFactor {
  display: inline-block;
  width: 23px;
}
