.PlaybackControls {
  color: var(--fontColor) !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  background: rgba(0, 0, 0, 0.72);
  margin: 10px;
  border-radius: 10px;
}

.Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}

.TextButton,
.IconButton {
  --size: 30px;
  background-color: var(--controlButtonBgColor);
  border-radius: 5px;
  transition: 200ms all;
  font-size: 0.9rem;

  &:hover {
    background-color: var(--controlButtonHoverBgColor);
  }

  &:active {
    background-color: var(--controlButtonActiveBgColor);
  }
}

.IconButton {
  width: var(--size);
  height: var(--size);
  padding: 5px;
}

.TextButton {
  padding: 10px;
  text-align: center;
}

.PlaybackSpeedLabel {
  font-size: 0.8rem;
}

.PlaybackSpeedFactor {
  display: inline-block;
  width: 23px;
}
