.PlayPauseButton {
  --size: 50px;

  border-radius: 5px;
  position: relative;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  background-color: var(--controlButtonBgColor);
  overflow: hidden;
  transition: 200ms;

  &:hover {
    background-color: var(--controlButtonHoverBgColor);
  }

  &:active {
    background-color: var(--controlButtonActiveBgColor);
  }
}

.Inner {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  height: 50%;
  width: 50%;
}

.Layer {
  background-color: var(--fontColor);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
