.SketchOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

@keyframes blur-out {
  from {
    background-color: var(--bgColorTransparent);
  }
  to {
    background-color: var(--bgColor);
  }
}

.SketchModal {
  --borderWidth: 4px;

  border-radius: 20px;
  position: relative;
  background: linear-gradient(
    0deg,
    var(--bgPrimaryColor),
    var(--bgSecondaryColor),
    var(--bgPrimaryColor)
  );
  background-size: 100% 200%;
  color: var(--fontColorAccent);
  transform: scale(var(--tileHoverScale));
  transform-origin: top left;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: var(--borderWidth);
    border-radius: inherit;
    background: linear-gradient(
      180deg,
      var(--primaryColor),
      var(--secondaryColor)
    );
    background-position: 0 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.Title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.ModalTitle {
  font-size: 2.5rem;
  line-height: 100%;
  text-align: center;
}

.Title,
.ModalTitle {
  letter-spacing: 2px;
}

.ImgWrapper {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.Horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.Vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Right {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.RightTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;

  & canvas {
    border-radius: 10px;
  }
}

.RightBottom {
  flex-shrink: 1;
}

.Left {
  color: var(--fontColor);
  display: flex;
  flex-direction: column;
  position: relative;

  .Body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    flex: 1;
  }
}

.PlaybackControlsBlock {
  position: absolute;
  bottom: 0px;
  left: 50%;
  translate: -50% 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
