.Test {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  background-color: #ccc;
  position: absolute;
}

.Child {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  background-color: #b67b7b;
  pointer-events: none;
  position: absolute;
}
