.Button {
  width: 30px;
  height: 20px;
  background-color: var(--bgPrimaryColor);
  border-radius: 3px;
  transition: 200ms all;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &.Active {
    opacity: 1;

    /* color: var(--secondaryColor); */
  }
}

.Title {
  margin-bottom: 5px;
}

.ButtonsBlock {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
