body {
  --gridCrossHalfSize: 25px;
  --gridCellSize: 60px;
  --bgColor: rgba(20, 20, 20, 1);
  --bgColorTransparent: rgba(20, 20, 20), 0;
  --gridCrossColor: #1d1d1d;
  --gridWidth: 1px;
  --primaryColorH: 176; /* teal */
  --secondaryColorH: 265; /* purple */
  --primaryColor: hsl(var(--primaryColorH) 100 55);
  --secondaryColor: hsl(var(--secondaryColorH) 100 68);
  --primaryColorFaded: hsl(var(--primaryColorH) 38 29);
  --secondaryColorFaded: hsl(var(--secondaryColorH) 38 29);
  --fontColorAccent: hsl(var(--secondaryColorH) 100 85);
  --fontColor: hsl(var(--primaryColorH) 100 88 / 80%);
  --bgSecondaryColor: hsl(var(--secondaryColorH) 100 68 / 12.5%);
  --bgPrimaryColor: hsl(var(--primaryColorH) 100 55 / 12.5%);
  --tileHoverScale: 1.03;
  --controlButtonBgColor: hsl(var(--primaryColorH) 100 55 / 0%);
  --controlButtonHoverBgColor: hsl(var(--primaryColorH) 100 55 / 15%);
  --controlButtonActiveBgColor: hsl(var(--primaryColorH) 100 55 / 35%);

  background-color: var(--bgColor);
  background-image: linear-gradient(
      90deg,
      transparent,
      transparent var(--gridCrossHalfSize),
      var(--bgColor) 0,
      var(--bgColor)
        calc(var(--gridCellSize) - var(--gridCrossHalfSize) + var(--gridWidth)),
      transparent 0
    ),
    linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--gridCrossHalfSize) - var(--gridWidth)),
      var(--bgColor) 0,
      var(--bgColor) calc(var(--gridCellSize) - var(--gridCrossHalfSize)),
      transparent 0
    ),
    linear-gradient(var(--gridCrossColor) var(--gridWidth), transparent 0),
    linear-gradient(
      90deg,
      var(--gridCrossColor) var(--gridWidth),
      transparent 0
    );
  background-size: var(--gridCellSize) var(--gridCellSize),
    var(--gridCellSize) var(--gridCellSize);
  background-position: calc(var(--gridCellSize) / 2 * -1)
    calc(var(--gridCellSize) / 2 * -1);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 100px;
  padding-top: 80px;
  color: var(--fontColor);
}

a {
  text-decoration: underline;
  transition: 200ms all;

  &:hover {
    color: var(--fontColorAccent);
  }
}
