body {
  --gridCrossHalfSize: 25px;
  --gridCellSize: 60px;
  --bgColor: rgba(20, 20, 20, 1);
  --bgColorTransparent: rgba(20, 20, 20), 0;
  --gridCrossColor: #1d1d1d;
  --gridWidth: 1px;
  --primaryColorBase: 176 99%;
  --secondaryColorBase: 265 100%;
  --primaryColor: var(--primaryColorBase) 55%;
  --secondaryColor: var(--secondaryColorBase) 68%;
  --primaryColorFaded: var(--primaryColor) / 35%;
  --secondaryColorFaded: var(--secondaryColor) / 35%;
  --fontColorAccent: hsl(var(--secondaryColorBase) 88%);
  --fontColor: hsl(var(--primaryColorBase) 88% / 80%);
  /* color: hsl(175, 34%, 72%); */

  background-color: var(--bgColor);
  background-image: linear-gradient(
      90deg,
      transparent,
      transparent var(--gridCrossHalfSize),
      var(--bgColor) 0,
      var(--bgColor)
        calc(var(--gridCellSize) - var(--gridCrossHalfSize) + var(--gridWidth)),
      transparent 0
    ),
    linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--gridCrossHalfSize) - var(--gridWidth)),
      var(--bgColor) 0,
      var(--bgColor) calc(var(--gridCellSize) - var(--gridCrossHalfSize)),
      transparent 0
    ),
    linear-gradient(var(--gridCrossColor) var(--gridWidth), transparent 0),
    linear-gradient(
      90deg,
      var(--gridCrossColor) var(--gridWidth),
      transparent 0
    );
  background-size: var(--gridCellSize) var(--gridCellSize),
    var(--gridCellSize) var(--gridCellSize);
  background-position: calc(var(--gridCellSize) / 2 * -1)
    calc(var(--gridCellSize) / 2 * -1);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 100px;
  padding-top: 100px;
  color: var(--fontColor);
}

a {
  text-decoration: underline;
  transition: 200ms all;

  &:hover {
    color: var(--fontColorAccent);
  }
}
