.PlaybackControls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  animation: appear 200ms 500ms ease-in-out forwards;
  opacity: 0;
  translate: 0 5px;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 5px;
  }

  to {
    opacity: 1;
    translate: 0 0px;
  }
}
