.Presets {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.PresetButton {
  padding: 3px 6px;
  background-color: var(--primaryColorFaded);
  border-radius: 5px;
  transition: 200ms all;

  &.Active {
    background-color: var(--secondaryColorFaded);
    color: var(--secondaryColor);
  }
}
