.SketchModalFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 5px;
  animation: appear 200ms 500ms ease-in-out forwards;
  padding-top: 5px;
  opacity: 0;
  translate: 0 10px;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 10px;
  }

  to {
    opacity: 1;
    translate: 0 0px;
  }
}

.BackButton {
  padding: 6px 8px;
  background-color: var(--bgPrimaryColor);
  border-radius: 5px;
  transition: 200ms all;
  color: var(--primaryColor);
  font-size: 13px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--primaryColorFaded);
  }
}
