.GridWrapper {
  position: relative;
}

.Grid {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 30px;
  row-gap: 50px;
  margin: 50px;
  max-width: 1300px;
  margin: 0 auto;
  transition: 400ms all ease-in;
}

.lol {
  position: absolute;
  /* top: 20px;
  left: 20px; */
}

.Fading {
  scale: 0.95;
  opacity: 0.3;
}
