.SketchModalFooter {
  --smallButtonsHeight: 30px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 5px;
}

.BackButton {
  padding: 0px 8px;
  height: var(--smallButtonsHeight);
  background-color: var(--bgPrimaryColor);
  border-radius: 5px;
  transition: 200ms all;
  color: var(--primaryColor);
  font-size: 13px;
  text-transform: uppercase;

  &:hover {
    background-color: var(--primaryColorFaded);
  }
}

.FullscreenButton {
  height: var(--smallButtonsHeight);
  line-height: var(--smallButtonsHeight);
  text-align: center;
  aspect-ratio: 1;
  background-color: var(--bgPrimaryColor);
  border-radius: 5px;
  transition: 200ms all;
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: bold;

  &:hover {
    background-color: var(--primaryColorFaded);
  }

  strong {
    position: relative;
    top: -1px;
  }
}
