.SketchTile {
  --animationDuration: 300ms;
  --bgSecondaryColor: hsl(var(--secondaryColorH) 100 68 / 12.5%);
  --bgPrimaryColor: hsl(var(--primaryColorH) 100 55 / 12.5%);
  --scale: 1.03;

  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background: linear-gradient(
    0deg,
    var(--bgSecondaryColor),
    var(--bgPrimaryColor),
    var(--bgSecondaryColor)
  );
  background-size: 100% 200%;
  color: var(--fontColor);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 4px;
    border-radius: inherit;
    background: linear-gradient(
      180deg,
      var(--secondaryColorFaded) 0%,
      var(--primaryColorFaded) 33%,
      var(--primaryColor) 66%,
      var(--secondaryColor) 100%
    );
    background-size: 100% 300%;
    background-position: 0 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.Title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.ImgWrapper {
  aspect-ratio: 1/1;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.Copy,
.Copy::before,
.Interactive:hover,
.Interactive:hover::before {
  background-position: 0 100%;
  color: var(--fontColorAccent);
}

.Copy {
  transform: scale(var(--scale));
  transform-origin: top left;
}

.Interactive {
  &:hover {
    transform: scale(var(--scale)) translateY(-15px);
  }

  &::before {
    transition: var(--animationDuration) all linear;
  }

  opacity: 0;
  animation: appear 300ms ease-in-out forwards;
  transition: var(--animationDuration) all ease-in-out;
}

.Hidden {
  opacity: 0 !important;
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 25px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}
